

*-project
*-workspace

*/*/*-project
*/*/*-workspace

*.png

notebook
notebook_gradient.ipynb

*/*/*.sublime-*
*.pyc
*.profile

*.egg-info
.cache
*__pycache__


.ipynb_checkpoints

tags
.tags
.tags1

.coverage
build/
dist/


.nfs*
*.dat
*starting_kit.html
*~
run.sh

paper
